* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width:650px;
    user-select: none;
    overflow:hidden;
}
body {
    max-width: 100%;
    margin: 8px auto;
}
:root {
    --page-background: white;
    --item-background:rgb(200,200,200);
    --item-border: rgb(180,180,180) 1px solid;
}
.hideEditButton {
    opacity: 0;
    cursor: initial !important;
}
.displayNone {
    display: none;
}
.echoLinkContainer {
    position: relative;
}
.toggleLink {
    position: absolute;
    width: 40px;
    height: 100%;
    z-index: 3;
    top: 0;
    background-color: var(--item-background);
    right: 15px;
    padding: 0px;
    border: var(--item-border);
}
.hiddenLink {
    display: none;
}
.toggleLinkInner {
    color: rgb(0, 175, 44);
    width: 80%;
    height: 80%;
    margin: auto;
    font-weight: bold;
    font-size: 25px;
    opacity: 0;
    transition: all 0.1s linear;
    
}
.reducedTransparency {
    opacity: 0.5;
    display: block;
}
.disablePointer {
    pointer-events: none;
}
.linkActivated {
    opacity: 1 !important;
}
.toggleLink:hover {
    cursor: pointer;
    box-shadow: rgb(0 175 44) 0px 0px 5px inset, rgb(0 175 44) 0px 0px 10px;
}
.toggleLink:hover .toggleLinkInner{
    opacity: 1;
}
#editLinks {
    width: 50px;
    height: 50px;
    float: left;
    font-size: 25px;
    margin-left: 5px;
    transition: filter 0.2s linear;
    padding: 5px 10px;
    border-radius: 50%;
}
#editLinks:hover {
    filter: invert();
    cursor: pointer;
}
html {
    background: var(--page-background);
}
@media (prefers-color-scheme: dark) {
    :root {
        --page-background: rgb(31, 31, 31);
        --item-background: rgb(20,20,20);
        --item-border: rgb(75,75,75) 1px solid;
    }
    * {
        color: white;
    }
    .icons {
        filter: invert();
    }

    .learnButton:hover ~ .backgroundLearnColour {
        background: linear-gradient(90deg, rgba(0,170,42,1) 0%, rgba(0,68,24,1) 50%, rgba(20,20,20,1) 100%) !important;
    }
    .echoButton:hover ~ .backgroundEchoColour {
        background: linear-gradient(270deg, rgb(1, 119, 192) 0%, rgb(0, 85, 138) 50%, rgba(20,20,20,1) 100%) !important;
    }

}

@media (prefers-color-scheme: light) {
    * {
        color: black;
    }
    :root {
        --page-background: white;
    }
    .learnButton:hover ~ .backgroundLearnColour {
        background: linear-gradient(90deg, rgb(0, 196, 49) 0%, rgb(75, 153, 102) 50%, rgb(200, 200, 200) 100%) !important;
    }
    .echoButton:hover ~ .backgroundEchoColour {
        background: linear-gradient(270deg, rgb(0, 131, 212) 0%, rgb(68, 116, 146) 50%, rgb(200, 200, 200) 100%) !important;
    }

}  

#editLinks {
    background: var(--item-background);
    border: var(--item-border);
}
.echoLink {
    border: var(--item-border);
    background-color: var(--item-background);
}

.buttonBackground {
    position: absolute;
    width: 110%;
    height: 100%;
    top: 0;
    transition: 0.5s;
    transform: translate(100%);
}
.buttonBackgroundCells {
    width: 100%;
    height: 100%;
}
.bigButton:hover > .buttonBackground {
    transform: translate(-5%);
}
.buttonBackgroundNew {
    background: linear-gradient(45deg, rgba(222,0,0,1) 0%, rgba(127,0,175,1) 100%);
    border-left: 5px solid var(--page-background);
}
.buttonText {
    z-index: 1;
    position: relative;
    color: white;
}

.bigButton {
    width: 80%;
    margin: auto;
    padding: 10px 5px;
    position: relative;
    background : linear-gradient(135deg,  rgb(0, 196, 49) 0%, rgb(0, 131, 212) 100%); 
    border: white;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 10px;
}

.learnButton:hover ~ .backgroundLearnColour {
    transform: translate(0%);
}

.echoButton:hover ~ .backgroundEchoColour {
    transform: translate(0%);
}
.bigButton:hover {
    opacity: 1;
    cursor: pointer;
}

.echoLink {
    width: 80%;
    margin: auto;
    position: relative;
    display: block;
    text-decoration: none;
}
#errorMessage {
    
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    color: red;
}

.linkButton {
    border: none;
    color: white;
    width: 50%;
    padding: 10px 0;
    margin: 0;
    box-sizing: content-box;
    height: 100%;
    background: none;
    min-height: 100%;
    display: inline-block;
}
.linkButton:hover {
    cursor: pointer;
}
.learnButton {
    text-align: left;
}
.echoButton {
    text-align: right;
}
.backgroundColour {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.3s;
}
.backgroundEchoColour {
    transform: translate(100%);
}
.backgroundLearnColour {
    transform: translate(-100%);
}
.icons {
    width: auto;
    margin: 0 10px;
    top: 10px;
    height: 60%;
    z-index: 5;
    position: absolute;
}
.ucIcons {
    left: 0;
}
.echoIcons {
    right: 0;
}
.courseName {
    z-index: 1;
    text-align: center;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}