
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }
  .screenshot>img {
    height: 100%;
    width: 100%;
  }
  .clickLink  {
    text-align: center;
    display: block;
  }
  .menu-item-description {
    text-align: center;
  }
  html {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }
  q, blockquote {
    quotes: none;
  }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
  }
  a img {
    border: none;
  }
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
  }
 
  
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    background: #f4f5f6;
    height: 100%;
    min-width: 320px;
  }
  body {
    background: #fff;
    *zoom: 1;
    color: #2d3c48;
    font: 14px "SQMarket", "Helvetica Neue", sans-serif;
    line-height: 20px;
    width: 100%;
    -webkit-font-smoothing: antialiased;
  }
  body:before, body:after {
    content: "";
    display: table;
  }
  body:after {
    clear: both;
    display: none;
  }
  body.modal {
    overflow-y: hidden;
  }
  a {
    color: #3e8cb7;
    text-decoration: none;
  }
  button, input, textarea {
    font: inherit;
  }
  p {
    margin: 0;
  }
 
  .wrapper {
    font-size: 1.14286em;
    line-height: 1.25em;
    background-position: center top;
    background-repeat: repeat-y;
    height: 100%;
    margin: 0 auto;
    min-height: 511px;
  }
  .footer {
    background: #f4f5f6;
    border-top: 1px solid #eff0f1;
    width: 100%}
  .footer-navigation {
    color: #b0b8c1;
    margin: 0 auto;
    padding-top: 1.35714em;
    padding-bottom: 1.14286em;
    text-align: center;
  }
  .icon-square-footer {
    background-position: 0 -146px;
    height: 23px;
    width: 23px;
    display: inline-block;
    margin-bottom: 0.35714em;
    position: relative;
  }
 
  .copyright {
    white-space: nowrap;
  }
 
  ::-moz-selection {
    background: #cdd0d4;
    text-shadow: none;
  }
  ::selection {
    background: #cdd0d4;
    text-shadow: none;
  }

  @-ms-viewport {
    width: device-width;
  }
  @-o-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
 
  .menu-category-name, .homepage-section-name, .module-name {
    font-size: 1.57143em;
    line-height: 1.18182em;
    color: #2d3c48;
    font-weight: 300;
    position: relative;
    left: -1px;
  }
 
  .profile {
    font-size: 0.875em;
    line-height: 1.42857em;
  }
  .profile-content {
    *zoom: 1;
    clear: both;
    position: relative;
  }
  .profile-content:before, .profile-content:after {
    content: "";
    display: table;
  }
  .profile-content:after {
    clear: both;
  }
  .profile-masthead {
    float: left;
    padding-top: 2.85714em;
    padding-bottom: 0.92857em;
    width: 100%}
  .profile-logo {
    *zoom: 1;
    min-height: 80px;
    position: relative;
  }
  .profile-logo:before, .profile-logo:after {
    content: "";
    display: table;
  }
  .profile-logo:after {
    clear: both;
  }
  .profile-logo img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 80px;
    text-decoration: none;
    vertical-align: middle;
    width: 80px;
  }
 
  .profile-logo-image {
    float: left;
    height: 80px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
  }
  .profile-name {
    font-size: 2em;
    line-height: 2.57143em;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    box-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    font-weight: 300;
    min-height: 2.57143em;
    margin-left: 98px;
    margin-top: 0.03571em;
  }
  .profile-name h1 {
    line-height: 1.07143em;
    display: inline-block;
    vertical-align: middle;
  }
  .profile-summary {
    text-align: right;
  }
 
  .summary-module {
    overflow: hidden;
  }
  .summary-module:first-child {
    margin-top: 0em;
  }
  .summary-module a {
    display: block;
  }
 
 
 
 
 
 
  .profile-description {
    padding-bottom: 0.64286em;
    text-align: center;
  }
  .profile-description:before {
    border-top: 1px solid #eff0f1;
    content: "";
    display: block;
    margin: 0 -5px;
    padding-top: 2.35714em;
    position: relative;
  }
  .profile-description p {
    font-size: 1.57143em;
    line-height: 1.45455em;
    font-weight: 300;
    margin: 0 auto;
  }
 
  .menu-category {
    *zoom: 1;
    position: relative;
    display: inline-block;
    width: 266px;
    margin: 0 10px;
    height: 300px;
  }
  .menu-category:before, .menu-category:after {
    content: "";
    display: table;
  }
  .menu-category:after {
    clear: both;
  }
 
  .menu-category:not(:first-of-type):before {
    border-top: 1px solid #eff0f1;
    content: "";
    display: block;
    margin: 0 -5px;
    padding-bottom: 2.57143em;
    position: relative;
  }
  .menu-category:not(:only-of-type) {
    padding-bottom: 0.92857em;
  }
 
  .menu-category-list {
    float: left;
    width: 100%}
  .menu-category-list:first-of-type {
    margin-top: -0.28571em;
  }
  .menu-category-list:first-of-type.has-images {
    margin-top: 0.71429em;
  }
  .menu-category-list:last-of-type:not(:only-child) {
    margin-bottom: 1.5em;
  }
  .menu-category-list:last-of-type:not(:only-child).has-images {
    margin-bottom: 1.85714em;
  }
 
  .menu-category-name, .homepage-section-name {
    margin-bottom: 0.14286em;
  }
  .menu-item {
    margin-top: 2.14286em;
    position: relative;
  }
 
  .menu-item-info {
    width: 100%}
  .has-images .menu-item:hover .menu-item-info {
    /* height: 276px; */
    top: 0;
  }
 
  .menu-item-description, .business-info-address, .business-bio {
    color: #959ba2;
  }
  .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
    overflow: hidden;
  }
  .menu-item-price {
    color: #72b16e;
    display: block;
  }
 
  .has-images .menu-item:hover .menu-item-price {
    display: inline-block;
  }
 
  .menu-item-price a, .menu-item-price-range a {
    color: #72b16e;
  }
 
  
  @media only screen and (max-width: 29.9375em) {
    body {
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%}
    body:after {
      content: "xsmall";
    }
   
    .wrapper {
      *zoom: 1;
      max-width: 276px;
      _width: 276px;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer-navigation {
      width: 19.78571em;
    }
   
    .profile-masthead {
      padding-top: 1.42857em;
      padding-bottom: 1.14286em;
    }
    .profile-logo-image {
      float: none;
      margin-top: 0.07143em;
      margin-bottom: 1.21429em;
    }
    .profile-name {
      line-height: 0em;
      margin-left: 0;
      min-height: 0;
      text-align: center;
    }
    .profile-name h1 {
      vertical-align: bottom;
    }
    .profile-summary {
      margin-top: 0.07143em;
      text-align: left;
    }
   
    .summary-module {
      width: 100%;
      float: left;
      margin-right: 37.03704%;
      display: inline;
      margin-top: 0.14286em;
      text-align: center;
    }
    .summary-module:first-child {
      margin-top: 0em;
    }
   
    .profile-description {
      padding-top: 1.28571em;
      padding-bottom: 0.67857em;
    }
    .profile-description:before {
      padding-top: 2.5em;
    }
    .profile-description p {
      width: 100%}
    .profile-description p {
      font-size: 1.14286em;
      line-height: 1.5em;
    }
   
    .menu-category-list:first-of-type.has-images {
      margin-top: 0.5em;
    }
    .menu-category-name, .homepage-section-name {
      margin-bottom: 0.14286em;
    }
    .menu-item {
      margin-top: 1.42857em;
    }
   
    .menu-item-info {
      min-height: 21px;
    }
    .has-images .menu-item-info {
      position: relative;
    }
   
    .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
      height: auto;
    }
   
  } 
  @media screen and (min-width: 30em) and (max-width: 37.4375em) {
    body {
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
    }
    body:after {
      content: "small";
    }
   
    .wrapper {
      *zoom: 1;
      max-width: 424px;
      _width: 424px;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer-navigation {
      width: 30.35714em;
    }
    .menu-item, .business {
      width: 100%;
      float: left;
      margin-right: 4.71698%;
      display: inline;
    }
    .has-images .menu-item, .has-images .business {
      margin-top: 2.5em;
    }
   
    .menu-item:nth-child(2n+1), .business:nth-child(2n+1) {
      clear: both;
    }
   
    .profile-masthead {
      padding-top: 1.42857em;
      padding-bottom: 1.14286em;
    }
    .profile-logo-image {
      float: none;
    }
    .profile-logo-image {
      margin-top: 0.07143em;
      margin-bottom: 1.21429em;
    }
    .profile-name {
      margin-left: 0;
    }
    .profile-name {
      text-align: center;
    }
    .profile-name {
      line-height: 0em;
      min-height: 0;
    }
    .profile-name h1 {
      vertical-align: bottom;
    }
    .profile-summary {
      margin-top: 0.07143em;
      text-align: left;
    }
   
    .summary-module {
      width: 100%;
      float: left;
      margin-right: 37.03704%;
      display: inline;
      margin-top: 0.14286em;
      text-align: center;
    }
    .summary-module:first-child {
      margin-top: 0em;
    }
   
    .profile-description {
      padding-top: 1.28571em;
      padding-bottom: 0.67857em;
    }
    .profile-description:before {
      padding-top: 2.5em;
    }
    .profile-description p {
      width: 100%}
    .profile-description p {
      font-size: 1.14286em;
      line-height: 1.5em;
    }
   
    .has-images .menu-item {
      /* height: 249px; */
    }
    .has-images .menu-item {
      margin-top: 2.48571em;
    }
    .has-images .menu-item:nth-child(-n+2) {
      margin-top: 1.21429em;
    }
   
    .menu-item-info {
      min-height: 40px;
    }
    .has-images .menu-item-info {
      position: absolute;
    }
   
    .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
      /* height: 202px; */
    }
   
  } 
  @media screen and (min-width: 37.5em) and (max-width: 47.9375em) {
    body:after {
      content: "medium";
    }
    .logo {
      display: inline-block;
    }
    .wrapper {
      *zoom: 1;
      max-width: 572px;
      _width: 572px;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer-navigation {
      width: 40.85714em;
    }
    .menu-item, .business {
      width: 100%;
      float: left;
      margin-right: 3.4965%;
      display: inline;
    }
    .has-images .menu-item, .has-images .business {
      margin-top: 2.5em;
    }
    .menu-item:nth-child(2n), .business:nth-child(2n) {
      float: right;
      margin-right: 0;
    }
    .menu-item:nth-child(2n+1), .business:nth-child(2n+1) {
      clear: both;
    }
   
    .profile-logo {
      width: 48.25175%;
      float: left;
      margin-right: 3.4965%;
      display: inline;
    }
    .profile-summary {
      min-height: 80px;
    }
    .profile-summary {
      width: 48.25175%;
      float: right;
      margin-right: 0;
      margin-left: -20px;
      display: inline;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-box-pack: center;
      box-pack: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      float: none;
    }
   
    .profile-description p {
      width: 101%}
   
    .has-images .menu-item {
      /* height: 323px; */
    }
    .has-images .menu-item:nth-child(-n+2) {
      margin-top: 1.21429em;
    }
    .menu-item-image:before {
      height: 276px;
    }
    .menu-item-info {
      min-height: 40px;
    }
    .has-images .menu-item-info {
      position: absolute;
    }
   
    .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
      /* height: 276px; */
    }
   
  } 
  @media screen and (min-width: 48em) and (max-width: 63.9375em) {
    body:after {
      content: "large";
    }
    .logo {
      display: inline-block;
    }
    .wrapper {
      *zoom: 1;
      max-width: 720px;
      _width: 720px;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer-navigation {
      width: 51.42857em;
    }
    .footer-navigation-list, .copyright {
      white-space: nowrap;
    }
    .menu-item, .business {
      width: 100%;
      float: left;
      margin-right: 2.70636%;
      display: inline;
    }
    .has-images .menu-item, .has-images .business {
      margin-top: 2.5em;
    }
    .menu-item:nth-child(3n), .business:nth-child(3n) {
      float: right;
      margin-right: 0;
    }
    .menu-item:nth-child(3n+1), .business:nth-child(3n+1) {
      clear: both;
    }
   
    .profile-logo {
      width: 48.61111%;
      float: left;
      margin-right: 2.77778%;
      display: inline;
    }
    .profile-summary {
      min-height: 80px;
    }
    .profile-summary {
      width: 48.61111%;
      float: right;
      margin-right: 0;
      margin-left: -20px;
      display: inline;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-box-pack: center;
      box-pack: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      float: none;
    }
   
    .profile-description p {
      width: 100%}
   
    .menu-category-list:first-of-type.has-images {
      margin-top: 0.64286em;
    }
    .has-images .menu-item {
      /* height: 272px; */
    }
    .has-images .menu-item {
      margin-top: 2.57143em;
    }
    .has-images .menu-item:nth-child(-n+3) {
      margin-top: 1.21429em;
    }
    .menu-item-image:before {
      height: 227px;
    }
    .menu-item-info {
      min-height: 40px;
    }
    .has-images .menu-item-info {
      position: absolute;
    }
   
    .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
      /* height: 227px; */
    }
   
  } 
  @media screen and (min-width: 64em) and (max-width: 79.9375em),  screen and (min-width: 64em) and (max-height: 68.6875em) {
    body:after {
      content: "xlarge";
    }
    .logo {
      display: inline-block;
    }
    .wrapper {
      *zoom: 1;
      max-width: 868px;
      _width: 868px;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer-navigation {
      width: 62em;
    }
    .footer-navigation-list, .copyright {
      white-space: nowrap;
    }
    .menu-item, .business {
      width: 100%;
      float: left;
      margin-right: 2.30256%;
      display: inline;
    }
    .has-images .menu-item, .has-images .business {
      margin-top: 2.5em;
    }
    .menu-item:nth-child(3n), .business:nth-child(3n) {
      float: right;
      margin-right: 0;
    }
    .menu-item:nth-child(3n+1), .business:nth-child(3n+1) {
      clear: both;
    }
   
    .profile-logo {
      width: 48.84793%;
      float: left;
      margin-right: 2.30415%;
      display: inline;
    }
    .profile-summary {
      min-height: 80px;
    }
    .profile-summary {
      width: 48.84793%;
      float: right;
      margin-right: 0;
      margin-left: -20px;
      display: inline;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-box-pack: center;
      box-pack: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      float: none;
    }
   
    .profile-description p {
      width: 86%}
   
    .has-images .menu-item {
      /* height: 323px; */
    }
    .has-images .menu-item:nth-child(-n+3) {
      margin-top: 1.21429em;
    }
    .menu-item-image:before {
      height: 276px;
    }
    .menu-item-info {
      min-height: 40px;
    }
    .has-images .menu-item-info {
      position: absolute;
    }
   
    .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
      /* height: 276px; */
    }
   
  }
  @media screen and (min-width: 80em) and (min-height: 68.75em) {
    body:after {
      content: "xxlarge"
    }
    .logo {
      display: inline-block;
    }
    .wrapper {
      *zoom: 1;
      max-width: 1164px;
      _width: 1164px;
      padding-left: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: auto;
    }
    .wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .footer-navigation {
      width: 83.14286em;
    }
    .footer-navigation-list, .copyright {
      white-space: nowrap;
    }
    .menu-item, .business {
      width: 100%;
      float: left;
      margin-right: 1.71703%;
      display: inline;
    }
    .has-images .menu-item, .has-images .business {
      margin-top: 2.5em;
    }
    .menu-item:nth-child(4n), .business:nth-child(4n) {
      float: right;
      margin-right: 0;
    }
    .menu-item:nth-child(4n+1), .business:nth-child(4n+1) {
      clear: both;
    }
   
    .profile-logo {
      width: 61.85567%;
      float: left;
      margin-right: 1.71821%;
      display: inline;
    }
    .profile-summary {
      min-height: 80px;
    }
    .profile-summary {
      width: 36.42612%;
      float: right;
      margin-right: 0;
      margin-left: -20px;
      display: inline;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-box-pack: center;
      box-pack: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      float: none;
    }
   
    .profile-description p {
      width: 75%}
    .profile-menu {
      margin-top: 0.5em;
    }
    .menu-navigation-list {
      width: 75%}
    .menu-category:first-of-type:only-child:before {
      top: -1px;
    }
    .has-images .menu-item {
      /* height: 323px; */
    }
    .has-images .menu-item:nth-child(-n+4) {
      margin-top: 1.21429em;
    }
    .menu-item-image:before {
      height: 276px;
    }
    .menu-item-info {
      min-height: 40px;
    }
    .has-images .menu-item-info {
      position: absolute;
    }
   
    .has-images .menu-item-description, .has-images .business-info-address, .has-images .business-bio {
      /* height: 276px; */
    }
   
  }

  